@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);

body {
  background-image: url(../images/eagles.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: "Abril Fatface", monospace;
}

.pulsate {
  animation: pulsate 2s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
}
p {
  color: #000000;
}
.myelement {
  background: rgba(4, 106, 56, 0.8) !important;
  -pie-background: rgba(4, 106, 56, 0.8) !important;
  behavior: url(PIE.htc);
}

@-webkit-keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.pulsate2 {
  text-align: center;
  text-shadow: 1px 1px 2px black, 0 0 25px antiquewhite, 0 0 5px whitesmoke;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
}
@-webkit-keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.tear {
  color: #ffcb2e;
}

.wink {
  color: #ffcb2e;
}

h2 {
  font-family: "Abril Fatface", cursive !important;
  color: green !important;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkgreen;
}

.h4,
h4 {
  font-size: 1.5rem;
  letter-spacing: 2px;
}
.top {
  margin-top: 20px;
  background-color: green;
  padding: 10px;
  border-radius: 3px;
}
.top1 {
  background-color: antiquewhite;
}
.container {
  margin-top: 40px;
  text-align: center;
  color: #000000;
}
.right {
  text-align: right !important;
  border-radius: 3px;
  position: relative;
  right: 0 !important;
}
